.clear {
  clear: both;
}

body {
  background-color: #503047;
}

h1, h4 {
  text-align: center;
  font-family: helvetica;
  text-transform: uppercase;
  color: #ADC698;
}

h1 {
  color: #C05746;
}

h4 a {
  text-decoration: none;
  color: #C05746;
}

#message p, #footer p {
  text-align: center;
  font-size: 12px;
  font-family: helvetica;
  color: #FFFFFF;
}

#nameInput, #outputArea {
  text-align: center;
}

#studentcount {
  width: 2em;
}

.name {
  margin-top: .5em;
}

#seatmap {
  width: 42em;
  margin: 0 auto;
  margin-top: 2em;
}

#outputArea {
  margin-top: 1em;
}

.tablearea {
  float: left;
  margin-right: 1em;
}

.tableleft, .tableright {
  height: 18em;
  width: 7em;
  float: left;
  margin-right: 5px;

}

.tableleft {
  margin-left: 45px;
}

.tableright {
}

.tablebottom {
  width: 20em;
  height: 7em;
}

.seat {
  text-align: center;
  margin: 0 auto;
  float: left;
  width: 7em;
  height: 8.8em;
  outline: 1px solid black;
  margin-top: 1px;
  background-color: #D0E3C4;
}

.tablebottom .seat {
  width: 9.9em;
  height: 7em;
  margin-left: 1px;
}

.seatname {
  font-family: helvetica;
  line-height: 6em;
}